.cart-area {
  margin-top: 110px !important;
}
/* .ant-popover .ant-popover-inner {
    padding: 27px!important;
}
.ant-popconfirm .ant-popconfirm-description {
    margin-inline-start: 0px!important;
    font-size: 17px!important;
}
.ant-popconfirm .ant-popconfirm-message >.ant-popconfirm-message-icon .anticon {
    padding-top: 0px!important;
}
.ant-popconfirm .ant-popconfirm-inner-content {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.ant-popconfirm .ant-popconfirm-message {
    margin-bottom: 10px;
}
.anticon svg{
    height: 21px!important;
    color: red;
    opacity: 0.7;
}
.ant-popconfirm .ant-popconfirm-buttons {
    position: relative;
    top: 10px;
    left: 161px;
}
.ant-popconfirm .ant-popconfirm-message-title-only {
    font-size: 15px;
} */
.anticon svg{
  height: 21px!important;
  color: red;
  opacity: 0.7;
}
/* Cart Responsive Media Queries*/
@media only screen and (max-width: 1399px) {
  .cart-totals {
    margin-left: 42px;
  }
  .cart-area {
    margin-top: 120px !important;
  }
  .cart-table table tbody tr td.product-thumbnail a img {
    height: 120px;
    width: 100%;
  }
  .cart-table table thead tr th {
    font-size: 1rem;
    opacity: 0.6;
    font-weight: bold;
  }
}
@media only screen and (max-width: 1024px) {
  
  .cart-table table tbody tr td.product-thumbnail a img {
    height: 120px;
    width: 100%;
  }
  .cart-table table thead tr th {
    font-size: 1rem;
    opacity: 0.6;
  }
}
@media only screen and (max-width: 991.98px) {
  .cart-area {
    margin-top: 140px !important;
  }
  .cart-totals {
    margin-left: 0px;
    margin-right: 0px;
  }
  .cart-table table thead tr th {
    font-size: 1rem;
    opacity: 0.6;
  }
  .cart-text {
    font-size: 1.3rem;
    white-space: normal;
  }
  .cart-table table tbody tr td.product-thumbnail a img {
    height: 120px;
    width: 100%;
  }
}
@media only screen and (max-width: 767.99px) {
  .cart-totals {
    margin-left: 0px;
    margin-right: 0px;
  }
  .cart-text{
    font-size: 14px;
  }
  .product-price .amount span {
    font-size: 16px;
  }
  .product-subtotal .amount span {
    font-size: 18px;
  }
  .cart-totals h3 {
    font-size: 20px;
  }
  .cart-totals ul li:first-child {
    font-size: 15px;
  }
  .cart-totals ul li span {
    font-size: 15px;
  }
  .cart-totals ul li {
    font-size: 15px;
  }
  .cart-totals ul li:last-child,
  .cart-totals ul li:last-child span {
    font-size: 15px;
  }
  .cart-table table thead tr th {
    font-size: 15px;
    vertical-align: top;
    white-space: normal;
  }
  .cart-area {
    margin-top: 114px !important;
  }
  .product-price .amount {
    /* white-space: normal; */
    font-size: 16px;
  }
  /* .cart-table table tbody tr td {
    white-space: normal;
    
  } */
}
@media only screen and (max-width: 730px){
  .cart-area {
    margin-top: 140px !important;
  }
}
@media only screen and (max-width: 567.99px) {
  .cart-table table thead tr th {
    font-size: 13px;
  }
  .cart-buttons .cart-header{
    padding-left: 10px;
  }
  .cart-table table tbody tr td.product-quantity .input-counter span.minus-btn{
    font-size: 16px;
  }
  .cart-table table tbody tr td.product-quantity .input-counter span{
    font-size: 16px;
  }
  .cart-table table tbody tr td.product-quantity .input-counter input{
    font-size: 15px;
  }
  .product-price .amount span {
    font-size: 18px;
    padding-left: 9px;
    padding-right: 2px;
}
.product-quantity .amount {
  width: 70px;
  margin-left: 10px;
}
  .cart-text {
    font-size: 14px;
    width: 70px;
  }
  .product-price .amount span {
    font-size: 13px;
  }
  .product-subtotal .amount span {
    font-size: 14px;
  }
  .cart-table table tbody tr td {
    white-space: normal;
  }
  .product-price .amount {
    white-space: normal;
    font-size: 16px;
  }
  
}
@media only screen and (max-width: 496.99px) {
  .cart-area {
    margin-top: 140px !important;
  }
  
  .cart-buttons .cart-header {
    font-size: 26px!important;
    padding-left: 10px;
  }
  .cart-table{
    overflow-x: auto;
  }
  .cart-table table thead tr th {
    font-size: 13px;
  }
  .cart-text {
    font-size: 11px;
  }
  .product-price .amount span {
    font-size: 13px;
    padding-left: 0px!important;
    padding-right: 8px;
  }
  .product-subtotal .amount span {
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  .product-price .amount {
    white-space: normal;
    font-size: 11px;
    width: 83px!important;
  }
  .cart-table table tbody tr td.product-quantity .input-counter input
  {
    font-size: 14px!important;
  }
  .cart-table table tbody tr td {
    white-space: normal;
  }
}
@media only screen and (max-width: 359.98px){
  .first-nav{
    display: none;
  }
  .cart-text{
        font-size: 18px;

    }
    .cart-area{
        padding-left: 73px;
    }
    .product-price .amount span{
        font-size: 17px;
    }
    .cart-buttons .cart-header{
        padding-left: 119px;
        font-size: 24px;
    }
   
}
