.cart-area {
  margin-top: 110px !important;
}

.anticon svg{
  height: 21px!important;
  color: red;
  opacity: 0.7;
}
.card-body .cart-text{
  font-size: 17px;
  font-weight: 500;
}

.card-body .unit-amount{
  font-weight: 500;
}
.card-body .input-counter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-body .card-middle-part{
  align-items: center;
}

.card-body .card-description{
  font-size: 15px;
  line-height: 23px;
}
.card-body .sold-by{
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}
.cart-body{
  height: 220px;
}
.card-body .cart-image{
  max-height: 150px;
}

.card-body .manufacturer-name{
  font-size: 15px;
}
.card-body .plus-minus-btn{
  border: 1px solid #dedede;
  font-weight: 600;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dedede;
}
.card-body .input-counter .plus-minus-btn:hover{
  background-color: #007bff;
  color: #fff;
}

.card-body .quantity-div{
  border: 1px solid #dedede;
    font-weight: 500;
    width: 70px;
    display: flex;
    justify-content: center;
    background-color: #f3eaea;
}
.cart-buttons .cart-header{
  margin-left: 12px!important;
} 

.card-for-cart{
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

.description-link:hover{
  cursor: pointer;;
}


/* Cart Responsive Media Queries*/
@media only screen and (max-width: 1399px) {
 
  .cart-area {
    margin-top: 120px !important;
  }
  .cart-table table tbody tr td.product-thumbnail a img {
    height: 120px;
    width: 100%;
  }
  .cart-table table thead tr th {
    font-size: 1rem;
    opacity: 0.6;
    font-weight: bold;
  }
}
@media only screen and (max-width: 1024px) {
  
  .cart-table table tbody tr td.product-thumbnail a img {
    height: 120px;
    width: 100%;
  }
  .cart-table table thead tr th {
    font-size: 1rem;
    opacity: 0.6;
  }
}
@media only screen and (max-width: 991.98px) {
  .cart-area {
    margin-top: 140px !important;
  }
  .cart-totals {
    margin-left: 0px;
    margin-right: 0px;
  }
  .cart-table table thead tr th {
    font-size: 1rem;
    opacity: 0.6;
  }
  .cart-text {
    font-size: 1.3rem;
    white-space: normal;
  }
  .cart-table table tbody tr td.product-thumbnail a img {
    height: 120px;
    width: 100%;
  }
}
@media only screen and (max-width: 767.99px) {
  .card-description{
    display: none;
  }
  .card-body .input-counter{
    display: flex;
    top: 125px;
    left: 100px;
    position: absolute;
    justify-content: center;
    align-items: center;
  }
  .card-for-cart{
    height: 176px;

  }
  .card-body .cart-delete-icon{
    background-color: #fff;
  }
  .cart-totals {
    margin-left: 0px;
    margin-right: 0px;
  }
  .cart-text{
    font-size: 14px;
  }
  .product-price .amount span {
    font-size: 16px;
  }
  .product-subtotal .amount span {
    font-size: 18px;
  }
  .cart-totals h3 {
    font-size: 20px;
  }
  .cart-totals ul li:first-child {
    font-size: 15px;
  }
  .cart-totals ul li span {
    font-size: 15px;
  }
  .cart-totals ul li {
    font-size: 15px;
  }
  .cart-totals ul li:last-child,
  .cart-totals ul li:last-child span {
    font-size: 15px;
  }
  .cart-table table thead tr th {
    font-size: 15px;
    vertical-align: top;
    white-space: normal;
  }
  .cart-area {
    margin-top: 145px !important;
  }
  .product-price .amount {
    /* white-space: normal; */
    font-size: 16px;
  }
  /* .cart-table table tbody tr td {
    white-space: normal;
    
  } */
}
@media only screen and (max-width: 730px){
  .cart-area {
    margin-top: 170px !important;
  }
  .card-body .card-text{
    font-size: 16px;
  }
}
@media only screen and (max-width: 567.99px) {
  .card-description{
    display: none;
  }
  .cart-table table thead tr th {
    font-size: 13px;
  }
  .cart-buttons .cart-header{
    padding-left: 10px;
  }
  .cart-table table tbody tr td.product-quantity .input-counter span.minus-btn{
    font-size: 16px;
  }
  .cart-table table tbody tr td.product-quantity .input-counter span{
    font-size: 16px;
  }
  .cart-table table tbody tr td.product-quantity .input-counter input{
    font-size: 15px;
  }
  .product-price .amount span {
    font-size: 18px;
    padding-left: 9px;
    padding-right: 2px;
}
.product-quantity .amount {
  width: 70px;
  margin-left: 10px;
}
  .card-body .card-text {
    font-size: 14px;
  }
  .product-price .amount span {
    font-size: 13px;
  }
  .product-subtotal .amount span {
    font-size: 14px;
  }
  .cart-table table tbody tr td {
    white-space: normal;
  }
  .product-price .amount {
    white-space: normal;
    font-size: 16px;
  }
  .card-body .input-counter{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 122px;
    align-items: center;
    left: 97px;
  }
  .card-for-cart{
    height: 170px;
  }
  
}
@media only screen and (max-width: 496.99px) {
  .cart-area {
    margin-top: 175px !important;
  }
  .card-body .description-link{
    margin-top: 0px!important;
  }
  .cart-buttons .cart-header {
    font-size: 24px!important;
    padding-left: 14px;
  }
  .cart-body{
    overflow-x: auto;
  }
  .card-for-cart{
    height: 200px!important;
    overflow-x: auto!important;
    margin: 0px!important;
    margin-top: 20px!important;
  }
  .card-body .delete-icon{
    display: flex;
    justify-content: center;
  }
  .cart-table table thead tr th {
    font-size: 13px;
  }
  .card-body .sold-by {
    font-size: 14px!important;
  }
  .card-body .sold-by-div{
    margin-top: 0px!important;
  }
  .product-price .amount span {
    font-size: 13px;
    padding-left: 0px!important;
    padding-right: 8px;
  }
  .product-subtotal .amount span {
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  .product-price .amount {
    white-space: normal;
    font-size: 11px;
    width: 83px!important;
  }
  .card-body .amount{
    margin-top: 0px!important;
  }
  .cart-table table tbody tr td.product-quantity .input-counter input
  {
    font-size: 14px!important;
  }
  .cart-table table tbody tr td {
    white-space: normal;
  }
  .card-body .card-text{
    font-size: 13px;
    line-height: 20px;
  }
  .card-body .input-counter{
    position: absolute;
    top: 130px;
    left: 90px;
  }
}
@media only screen and (max-width: 429.98px){
  .card-body .input-counter{
    position: absolute;
    top: 128px;
    left: 84px;
  }
  .card-for-cart .cart-box {
    width: 400px;
  }
}
@media only screen and (max-width: 359.98px){
  .first-nav{
    display: none;
  }
  .cart-text{
        font-size: 18px;

    }
    .cart-area{
        padding-left: 73px;
    }
    .product-price .amount span{
        font-size: 17px;
    }
    .cart-buttons .cart-header{
        padding-left: 119px;
        font-size: 24px;
    }
   
}
