.Support-page-section {
  margin-top: 150px;
  padding-bottom: 60px;
}
.left-side-supportpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 370px;
}
.left-side-supportpage .left-Heading {
  width: 100%;
}
.left-side-supportpage .left-Heading h1 {
  color: #1e144f;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
}
.left-side-supportpage .left-Heading .support-left-text p {
  font-family: "Roboto", sans-serif;
}
.right-side-supportpage .support-page-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 370px;
}
.right-side-supportpage .support-page-image .support-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Support-page-section .left-side-supportpage button {
  margin-top: 20px;
  background: #1b2845;
  color: #fff;
  border: 1px solid rgba(27, 151, 255, 0.33);
  font-size: 14px;
}
.Support-page-section .left-side-supportpage button:hover {
  background: #fff;
  border: 1px solid #1b2845;
  color: #1b2845;
}
