.order-success-page
{
margin-top: 155px;
}
.order-success-page .order-success-card
{
    background-color: #e1e1e1;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}
.success-heading h1
{
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 500 !important;
    color: #1e144f;
    margin-bottom: 0;
}
.success-thank-you h2
{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400 !important;
    color: #000;
    letter-spacing: 0.25px;
}
.order-success-page .success-home-btn
{
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #1b97ff;
}
.order-success-page .success-home-btn a
{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.15px;
    text-transform: uppercase;
}
.success-svg 
{
    padding: 8px;
    background-color: #0E912C;
    border: none;
    border-radius: 50%;
    margin: 20px 0;
}
.success-svg svg
{
    color: #fff;
}
.success-order-id p, .success-email-confirm-msg p
{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.15px;
}
@media only screen and (max-width : 1299px){
    .order-success-page
    {
    margin-top: 180px;
    }
}
@media only screen and (max-width : 1024px) {
  
}

@media only screen and (max-width :815px) {
    .success-heading h1 {
        font-size: 23px;
    }
}
@media only screen and (max-width : 730px) {
    .order-success-page {
        margin-top: 145px;
    }
}
@media only screen and (max-width : 575.98px) {
    .order-success-page {
        margin-top: 127px;
    }
}
@media only screen and (max-width : 480px) {
    .success-heading h1 {
        font-size: 21px;
    }
    .success-svg {
        padding: 5px!important;
    }
    .order-success-page .success-home-btn {
        padding: 5px 15px;
    }
    .order-success-page .success-home-btn a{
        font-size: 14px;
    }

}
@media only screen and (max-width : 430px)
   {
    .success-heading h1 {
        font-size: 19px;
    }
    .success-order-id p, .success-email-confirm-msg p {
        font-size: 11px!important;
    }
    .order-success-page .order-success-card {
        padding: 30px 0px;
    }
    .success-thank-you h2 {
        font-size: 15px;
    }
    .order-success-page .success-home-btn a {
        font-size: 12px;
    }
    .order-success-page .success-home-btn {
        padding: 3px 12px;
    }
    .order-success-div{
        padding-left: 0px;
        padding-right: 0px;
    }
  }

@media only screen and (max-width : 360px) {


}