.singleblog-card-image {
  height: 210px !important;
}
.blog-title-text {
  color: rgba(0, 0, 0, 0.9);
  font-size: 16px;
}
.Read-more-singleblog{
  color: #1b97ff;
    font-weight: 700;
}
/* .blog-page-section-2 .single-blog-page-text{
  overflow: auto;
} */
/* ::-webkit-scrollbar-thumb {
  background-color: #2a96ff;
} */
/* .Single-Blog-Heading h1{
    font-size: 2rem;
} */
.blog-page-section-2 .card .single-blog-page-text {
  height: 200px !important;
  padding: 15px;
}
.blog-container {
  margin-top: 50px !important;
}
.single-blog-image1 {
  margin-top: 20px;
  height: 460px;
  width: 100%;
  object-fit: cover;
}
.Single-Blog-Heading {
  background-color: rgba(30, 20, 79);
  padding: 2rem;
  width: 100%;
  color: #fff;
}
.Single-Blog-Heading .Blog-para,
.blog-heading1 {
  color: white !important;
  letter-spacing: 0.1rem;
}
.Single-Blog-Heading .blog-heading1 {
  font-size: 2rem;
}

.single-blog-page-text .card-text {
  font-size: 15px;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  word-spacing: -0.05em;
}
@media only screen and (max-width: 1399.98px) {
  .blog-container {
    margin-top: 45px !important;
  }
  .blog-page-section-2 .card .single-blog-page-text {
    height: 210px !important;
  }
  .single-blog-page-text .blog-title-text {
    font-size: 15px !important;
  }
  .single-blog-page-text .card-text {
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 1199.98px) {
  .single-blog-page-text .blog-title-text {
    font-size: 15px !important;
    height: 30px;
  }
  .single-blog-page-text .card-text {
    font-size: 13px !important;
    text-align: left;
    word-spacing: 0px;
    hyphens: auto;
  }
  .blog-page-section-2 .card .single-blog-page-text {
    height: 230px !important;
  }
}
@media only screen and (max-width: 990.98px) {
  /* .blog-page-section-2 .single-blog-page-text {
    height: 100px !important;
  } */
  .blog-page-section-2 .card .single-blog-page-text {
    height: 170px !important;
  }
  .blog-container {
    margin-top: 45px !important;
  }
  .Single-Blog-Heading .blog-heading1 {
    font-size: 12px !important;
  }
  .Single-Blog-Heading .Blog-para {
    font-size: 11px !important;
  }
  .single-page {
    padding-top: 124px;
  }
  .single-blog-page-text .blog-title-text {
    font-size: 15px !important;
    height: auto;
  }
  .single-blog-page-text .card-text {
    font-size: 14px !important;
    text-align: left;
  }
}
@media only screen and (max-width: 767px) {
  .blog-container {
    margin-top: 26px !important;
  }
  .blog-page-section-2 .card .single-blog-page-text {
    height: 140px !important;
  }
}
@media only screen and (max-width: 575.98px) {
  .blog-container {
    margin-top: 25px !important;
  }
  .Single-Blog-Heading .blog-heading1 {
    font-size: 1.4rem;
  }
  .Single-Blog-Heading .Blog-para {
    font-size: 0.6rem !important;
    line-height: 2 !important;
  }
  .single-page {
    padding-top: 80px;
  }
  .blog-page-section-2 .card .single-blog-page-text {
    height: 180px !important;
  }
}
