.subcategory-box .image img {
  height: 200px !important;
  width: 100% !important;
  object-fit: contain !important;
}
.subcategory-box {
  box-shadow: 0 1px 2px rgb(34 25 25 / 40%);
  margin: 0 0px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #fff, #f9f9f9);
  opacity: 1;
  width: 100%;
  background: #f8f9fa !important;
}
.subcategory-box .price-div {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  line-height: 8px !important;
  padding-top: 10px !important;
}
@media only screen and (max-width: 767px) {
  .subcategory-box .price-div {
    font-size: 12px !important;
  }
}
@media only screen and (max-width: 575px){
    .subcategory-box{
        width: 100% !important;
    }
}
