.orders-section {
  margin-top: 150px;
  margin-bottom: 45px;
}
.orders-user-page {
  border-radius: 10px;
  min-height: 0px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.order-details-image {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}
.order-details-image .order-main-Image {
  height: 80%;
  width: 60%;
}
.order-header {
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.Order-page .accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.p-accordion-header-text {
  width: 100%;
}
.p-accordion
  .p-accordion-header:not(.p-disabled)
  .p-accordion-header-link:focus {
  outline: none !important;
  box-shadow: none !important;
}
.Order-page:nth-child(even) {
  background: rgb(42, 150, 255, 0.2) !important;
}
.Order-page:nth-child(odd) {
  background: rgb(42, 150, 255, 0.1) !important;
}
.p-accordion .p-accordion-header .p-accordion-header-link {
  background: none !important;
}

.order-status-heading {
  font-size: 12px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.para-order-text {
  font-size: 10px !important;
  color: #6c757d;
  font-weight: 600 !important;
}
.para-text {
  font-size: 10px !important;
  color: #6c757d;
}
.Re-order-button {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 8px 13px;
  display: block;
  text-align: center;
  background: #1b2845;
  border: 1px solid rgb(27 151 255 / 33%);
  color: #fff;
  text-decoration: none;
  border-radius: 0.25rem;
  transition: all 0.3s ease-in-out;
}

.Re-order-button:hover {
  padding: 8px 13px;

  background-color: white !important;
  color: #1b2845 !important;
  box-shadow: 0px 0px 1px 1px #1b2845;
  transition: all 0.3s ease-in-out;
}
.detail-box-order {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
}
.order-tracking-details {
  margin-top: 10px !important;
}
.description-box {
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: justify;
  word-spacing: -1px !important;
  hyphens: auto !important;
  height: 100%;
  width: 100%;
}
.description-box div p {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}
.userorder-product {
  font-size: 14px !important;
  font-weight: 400 !important;
}

.button-box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}
.progress-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-box {
  width: 100%;
  height: 50px;
}
.progress {
  width: 100%;
  height: 4px;
  background: lightgray;
  position: relative;
  border-radius: 50px;
  overflow: visible;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.progress-text {
  display: flex;
  justify-content: space-between;
}
.progress-color {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 0%;
  border-radius: 50px;
  z-index: 2;
}

.active34 {
  width: 33.33%;
  background-color: green;
}
.active35 {
  width: 66.66%;
  background-color: green;
}
.active36 {
  width: 100%;
  background-color: green;
}
.active37 {
  width: 100%;
  background-color: red;
}

.activecircles {
  background-color: green !important;
}
.deactivecircles {
  display: none;
}

.activecancelcircle {
  background-color: red !important;
  color: white !important;
}

.Check-icon {
  color: white;
  height: 10px;
  width: 20px;
}
.circle1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgray;
}
.circle2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgray;
}
.circle3 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgray;
}
.circle4 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgray;
}
.circle5 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 10;
  display: flex;
  justify-content: center;
  background: red;
  align-items: center;
  position: relative;
  left: 98%;
  bottom: 22px;
}
.pending-bar {
  background: rgb(255, 165, 0, 0.8) !important;
  width: 100% !important;
}
.shipped-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.shipped-time {
  font-size: 8px;
  color: #007bff;
}
.Delivery-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Delivered-time {
  font-size: 8px;
  color: green;
}
.progress-text {
  margin-top: 20px;
}
.progress-text span {
  color: #1e144f;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-top: 10px;
}
.status-Highligted {
  color: green !important;
  font-weight: 400 !important;
}
.status-Highligted-delivered {
  color: green !important;
  font-weight: 400 !important;
}
.nav-text {
  font-size: 10px;
  color: #007bff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.Check-icon-shipped {
  height: 30px;
  width: 30px;
  color: #007bff;
}
.Right-order-content {
  display: flex;
  align-items: center;
}

.Pending-text {
  color: orange !important;
  font-weight: 600 !important;
  margin-top: 10px !important;
}
.p-accordion .p-accordion-header .p-accordion-header-link {
  color: rgba(0, 0, 0, 0.7) !important;
}

.p-accordion .p-accordion-header .p-icon {
  display: none !important;
}
.See-more-details {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.details-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pending-box .process-icon {
  height: 15px !important;
  width: 15px !important;
  animation: animatepending 3s linear infinite;

  transition: all 1s ease;
}
.pending-box .process-icon g {
  fill: orange !important;
}
@keyframes animatepending {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Order-page .p-accordion .p-accordion-content {
  background: ghostwhite !important;
}
.order-detail-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 12px;
  border: none;
  color: white;
  font-weight: 400;
  background: #1b2845;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.order-detail-button:hover {
  background-color: white !important;
  color: #1b2845 !important;
  box-shadow: 0px 0px 1px 1px #1b2845;
  transition: all 0.3s ease-in-out;
}
/* Responsive Order */

@media only screen and (max-width: 991.98px) {
  .order-status-heading {
    font-size: 10px !important;
  }
  .order-tracking-details {
    padding-right: 0px !important;
  }
  .para-order-text {
    font-size: 10px !important;
  }
  .para-text {
    font-size: 10px !important;
  }
  .description-box div p {
    font-size: 12px !important;
    line-height: inherit !important;
  }
  .userorder-product {
    font-size: 14px !important;
  }
  .Re-order-button {
    font-size: 10px !important;
  }
  .orders-section {
    margin-top: 160px !important;
  }
  .Buttons-order-page button {
    font-size: 10px !important;
  }
  .Buttons-order-page .return-product {
    height: 20px !important;
  }
}
@media only screen and (max-width: 815.98px) {
  .order-status-heading {
    font-size: 10px !important;
  }
  .para-text {
    font-size: 9px !important;
  }
  .para-order-text {
    font-size: 10px !important;
  }
  .order-tracking-details {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .Right-order-content {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}
@media only screen and (max-width: 767.98px) {
  .Right-order-content {
    height: 60px !important;
  }
  .order-detail-button {
    padding: 10px 10px !important;
    font-size: 10px !important;
  }
  .See-more-details {
    justify-content: start !important;
  }
  .order-tracking-details {
    padding-left: 0px !important;
  }
  .progress-div {
    height: 60px !important;
  }
  .progress-text span {
    font-size: 10px !important;
  }
  .user-order-tracking-details {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .order-details-image .order-main-Image {
    height: 90% !important;
    width: 70% !important;
  }
  .order-details-image {
    justify-content: start !important;
  }
  .button-box {
    justify-content: start !important;
    margin-top: 10px !important;
  }
  .userorder-product {
    font-size: 12px !important;
  }
  .detail-box-order {
    align-items: start !important;
  }
  .description-box {
    align-items: start !important;
  }
  .description-box div p {
    font-size: 10px !important;
  }
  .Re-order-button {
    padding: 5px 10px !important;
  }
}
@media only screen and (max-width: 730.98px) {
  .orders-section {
    margin-top: 130px !important;
  }
}
@media only screen and (max-width: 575.98px) {
  .order-details-image .order-main-Image {
    height: 70% !important;
    width: 24% !important;
  }
  .orders-section {
    margin-top: 130px !important;
  }
}
@media only screen and (max-width: 415.98px) {
  .order-tracking-details {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .order-column {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .order-status-heading,
  .para-order-text {
    font-size: 9px !important;
  }
}
@media only screen and (max-width: 390.98px) {
  .orders-section {
    margin-top: 114px !important;
  }
}
.Buttons-order-page {
  display: flex;
  justify-content: end;
  align-items: center;
}
.Buttons-order-page button {
  padding: 9px 24px;
  border: none;
  font-size: 13px;
  background: ghostwhite;
  transition: all 0.4s linear;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
}
.Buttons-order-page button:hover {
  text-decoration: underline !important;
  color: goldenrod;
  transition: all 0.4s linear;
  transition: text-decoration 0.4s linear;
}

.Buttons-order-page .return-product {
  height: 22px;
  width: 25px;
}

.userorder-product .order-details {
  font-weight: 600 !important;
}
.userorder-product span:nth-child(2){
  color: rgba(0, 0, 0, 0.6) !important;
  padding: 20px !important;
}
